body {
    display: block;
    background-color: rgba(255, 255, 255, 1); /* Alpha needs to be 1, not 0 */
}

p {
    color: black;
}

div.menupanel {
    display: flex;
    decorator: vertical-gradient(rgb(255, 235, 205) rgb(163, 163, 163));
    border: 1px;
    border-color: rgb(73, 73, 73);
}

div.sidepanel {
    position: relative;
    decorator: horizontal-gradient(rgb(255, 235, 205) rgb(163, 163, 163));
    width: 128px;
    height: 100%;
}